.DS_Store
db.sqlite3
__pycache__

ntReport/static/

ntReport/documents/*

ntReport/documents/requests/*
!ntReport/documents/requests/.gitkeep

ntReport/documents/responses/*
!ntReport/documents/responses/.gitkeep

webrequest/migrations/*
!webrequest/migrations/__init__.py
!webrequest/migrations/0001_initial.py
