.DS_Store
db.sqlite3
__pycache__

MagicBox/static/

MagicBox/documents/*

MagicBox/documents/requests/*
!MagicBox/documents/requests/.gitkeep

MagicBox/documents/responses/*
!MagicBox/documents/responses/.gitkeep

webrequest/migrations/*
!webrequest/migrations/__init__.py
!webrequest/migrations/0001_initial.py
