.DS_Store
db.sqlite3

webreports/__pycache__/*

webreports/documents/requests/*
!webreports/documents/requests/.gitkeep

webreports/documents/responses/*
!webreports/documents/responses/.gitkeep

webrequest/__pycache__/*

webrequest/migrations/*
!webrequest/migrations/__init__.py
!webrequest/migrations/0001_initial.py
!webrequest/migrations/0002_seed_reports.py

webrequest/scripts/__pycache__/*
